

.nav-container{
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  background:#FFFFFF !important;
  color: #1D1D1D;
  font-weight: 600;
}

.brand-icon{
  color:  #DDBD73 !important ;
}
.list-item{
  color: #1D1D1D;
  position: relative;
}
.list-item:hover{
  color: #DB4629 !important;
}
.list-item::before{
  content:'';
  position: absolute;
  top: 100%;
  left:4;
  height: 2px;
  width: 0;
  background:#f2efee !important;
  transition: .3s;
}
.list-item:hover::before{
  width: 60%;
}
.navbar-toggler {
  background-color: transparent !important; 
  border: none;
  padding: 0.5rem;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%281, 1, 1, 1%29" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E') !important;
  
  background-size: 1.5em 1.5em;
}

.navbar-toggler:focus {
  outline: none; 
}

.button-container {
  display: flex;
  gap: 20px;
}
.styled-button {
  margin-left: 20px;

  color: black; 
  border: 2px solid #DB4629; 
  padding: 2px 8px; 
  font-size: 1rem; 
  font-weight: bold; 
  border-radius: 10px; 
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
  text-transform: uppercase; 
  letter-spacing: 1px; 
}


.styled-button:hover {
  background-color: #fff; 
  color: black; 
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2); 
  transform: translateY(3px); 
}

.styled-button:active {
  transform: translateY(2px); 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}