.nav-container{
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  background:#FFFFFF !important;
  color: #1D1D1D;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: none; 
}

.nav-container.shrink {
  height: 50px; 
  padding: 10px 10%; 
  background: #FFFFFF; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.904);
  
}
.brand-icon img {
  width: 50px;
  height: 50px;
  transition: width 0.3s, height 0.3s; /* Smooth transition for logo */
}

.brand-icon{
  color:  #DDBD73 !important ;
}
.list-item{
  color: #1D1D1D;
  position: relative;
  
}
.list-item:hover{
  color: #DB4629 !important;
}
.list-item::before{
  content:'';
  position: absolute;
  top: 100%;
  left:4;
  height: 2px;
  width: 0;
  background:#f2efee !important;
  transition: .3s;
}
.list-item:hover::before{
  width: 60%;
}
.navbar-toggler {
  background-color: transparent !important; 
  border: none;
  padding: 0.5rem;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%281, 1, 1, 1%29" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E') !important;
  
  background-size: 1.5em 1.5em;
}

.navbar-toggler:focus {
  outline: none; 
}
.navbar-collapse {
  background-color: #FFFFFF;
}
.button-container {
  display: flex;
  gap: 20px;
}
.styled-button {
 
  margin-left: 20px;
  background-color: #DB4629;
  color: #FFFFFF; 
  border: none; 
  padding: 2px 8px; 
  font-size: 1rem; 
  font-weight: 600; 
  border-radius: 10px; 
  cursor: pointer;
  transition: all 0.3s ease; 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
  text-transform: uppercase; 
  letter-spacing: 2px; 
}


.styled-button:hover {
  background-color: #707070; 
  color:#FFFFFF ; 
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2); 
  transform: translateY(3px); 
}

.styled-button:active {
  transform: translateY(2px); 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}

.floating-social-media {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column; 
  gap: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7); 
  border-radius: 0px 10px 10px 0px; 
  z-index: 1000; 
}

.social-icon {
  color: #fff; 
  font-size: 1.5rem;
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.social-icon:hover {
  color: #DB4629; 
  background-color: #fff; 
  border-radius: 50%; 
}

@media only screen and (max-width: 768px){
  .nav-container.shrink {
    height: 80px; 
    background: #FFFFFF; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}
