/* .shortBlog-container{
  background: url('../assets/images/Blog-background.jpg') fixed center center;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.blog-img{
  height: 500px;
  padding-top: 100px;
} */