.shortdes-container{
  background-image: url('../assets/images/contemporary-sofa-modern-room.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  
}
.shortdes-container h1{
  width: 80%;
  padding-left: 10%;
  padding-top: 10%;
  color: #fff;
  font-size: 3rem; 
  font-weight: bold;
}
.shortdes-container p{
  font-size: 1.2rem; 
  line-height: 1.5;
  width: 80%;
  padding-left: 10%;
  padding-top: 20px;
  color: #fff;
}
.about-btn{
  border: 1px solid #DDBD73;
  background: black;
  color: #DDBD73 !important;
  border-radius: 5px;
  margin-top: 20px;
  color: #fff;
  width: 250px;
  height: 50px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}
.about-btn:hover {
  background-color: #ffffff; 
  color: #000000 !important; 
}